@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/GothamMedium.ttf);
    font-weight: bold;
  }

body{
    font-family: 'Hammersmith One', sans-serif !important;
}
html{
    font-family: 'Hammersmith One', sans-serif !important;
}
h1, h2, h3,h4,h5,h6{
    font-family: 'Hammersmith One', sans-serif !important;
}